{% extends 'Layout/admin_layout.html.twig' %}

{% block title %}Happy hours{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">

            {% include 'FlashMessages/success.html.twig' %}

            <h1>Toutes les happy hours</h1>

            <a class="btn btn-primary" href="#">Ajouter une happy hour</a><br><br>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Date heure</th>
                        <th scope="col">Durée</th>
                        <th scope="col">Réduction</th>
                        <th scope="col">Boissons</th>
                        <th scope="col">Créé par</th>
                        <th scope="col">Action</th>
                    </tr>
                </thead>


                <tbody>

                {% for happyhour in happyhours %}
                    <tr>
                        <th scope="row">{{ happyhour.startAtFormated }}</th>
                        <td>{{ happyhour.duration }}</td>
                        <td>{{ happyhour.reductionPercent }} %</td>
                        <td>
                            {% for linkedDrink in happyhour.linkedDrinks %}
                                {{ linkedDrink.product_name }},
                            {% endfor %}
                        </td>
                        <td>{{ happyhour.name }} {{ happyhour.lastname }}</td>
                        <td><a class="btn btn-warning" href="#">Modifier</a></td>
                    </tr>
                {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}