{% extends 'Layout/admin_layout.html.twig' %}

{% block title %}Commandes fournisseurs{% endblock %}

{% block body %}
    <div class="row">
        <div class="col-lg-12">

            {% include 'FlashMessages/success.html.twig' %}

            <h1>Toutes les commandes fournisseurs</h1>

            <a class="btn btn-primary" href="{{ path_for('admin_supply-orders_create') }}">Ajouter une commande fournisseur</a><br><br>

            <table class="table table-hover table-bordered">
                <thead>
                    <tr>
                        <th scope="col">Date heure commande</th>
                        <th scope="col">Commandé par</th>
                        <th scope="col">Nom du fournisseur</th>
                        <th scope="col">Produit (qté commandée)</th>
                        <th scope="col">TVA %</th>
                    </tr>
                </thead>

                <tbody>
                    {% for order in orders %}
                        <tr>
                            <th scope="row">{{ order.orderAtFormated }}</th>
                            <td>{{ order.manager_name }} {{ order.manager_lastname }}</td>
                            <td>{{ order.supplier_name }}</td>
                            <td>
                                {% for product in order.linkedProducts %}
                                    {{ product.product_name }} ({{ product.quantity }} {{ product.unit_shortName }}),
                                {% endfor%}
                            </td>
                            <td>{{ order.tva }}</td>
                        </tr>
                    {% endfor %}
                </tbody>
            </table>

        </div>
    </div>

{% endblock %}